<div class="flex flex-col items-center justify-center p-12 min-h-screen">
    <div class="pb-8">
        <h1 id="heading" class="font-bold slide-in-left text-xl sm:text-3xl md:text-5xl lg:text-6xl text-center text-white">songFetch.</h1>
    </div>
    <div class="w-full flex justify-center">
        <form (submit)="getSongDetails()" class="w-full flex justify-center">
            <input 
            [(ngModel)]="trackName" 
            type="text" name="track" id="search" 
            class="slide-in-right w-[200px] sm:w-[350px] md:w-[500px] lg:w-[800px] 
            rounded-lg p-2 sm:p-4 border-2 border-green-600 focus:outline-none" required />
        </form>
    </div>
    <app-results [songDetails]="songDetails"></app-results>
</div>